---
import AboutIcon from "../icons/AboutIcon.astro";
import SectionContainer from "../SectionContainer.astro";
---

<SectionContainer id="sobre-mi" class="pt-10">
  <h2 class="text-6xl font-bold mt-8 mb-3 flex gap-2">
    <AboutIcon class="size-16" /> Sobre mí
  </h2>
  <p class="text-2xl opacity-75">
    Titulado como <strong>Ingeniero en Informática</strong>, con experiencia en gestión y desarrollo de proyectos. Manejo tango frontend como backend, aplicando metodologías ágiles. Además con experiencia laboral en QA, lo que aporta un aporte a la hora de seguir y mantener la calidad esperada durante la fase de desarrollo.
    <br>
    Durante el tiempo libre me gusta hacer música y leer, tratando de siempre agregar lo aprendido a los conocimientos de la programación
  </p>
</SectionContainer>
