---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import Header from "../components/Header.astro";
import Badge from "../components/Badge.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Proyect from "../components/Proyect.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Portafolio de Diego Pastén - Desarrollador web">
  <main>
    <SectionContainer>
    
      <img
        src="/images/perfil.png"
        alt="Foto de perfil"
        class="perfil-con-difuminado"
      />
      <h1 class="text-white text-7xl font-bold flex flex-row gap-x-4 pb-4">
        Diego Pastén
        <a
          href="https://linkedin.com/in/diegopastenuribe"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>

      <span class="text-xl text-[#ffbed8]">Desarrollador WEB</span>
      <p class="text-2xl opacity-75">
        Ingeniero en Informática con experiencia en WEB Developer Lorem ipsum,
        dolor sit amet consectetur adipisicing elit. Ut accusantium soluta vitae
        corporis minus magni libero fugit expedita aperiam asperiores.
        Temporibus velit voluptate cum nemo quis dignissimos ipsum, consequuntur
        optio!
      </p>
    
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2 class="text-6xl font-bold mt-8 mb-3">Proyectos</h2>
     <Proyect/>
     
    </SectionContainer>
    
    <SectionContainer id="sobre-mi">
      <h2 class="text-6xl font-bold mt-8 mb-3">Sobre mi</h2>
      <p class="text-2xl opacity-75">
        Titulado como Ingerniero en Informática Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis vero doloremque recusandae, nemo beatae quos, totam iusto enim possimus in ipsam porro sapiente tempora odio perferendis dolore fugit modi laboriosam!
      </p>
    </SectionContainer>

  </main>
</Layout>
