---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import Badge from "../components/Badge.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Proyect from "../components/Proyect.astro";


//Importación de iconos (componets)
import ProyectIcon from "../components/icons/ProyectIcon.astro";
import AboutIcon from "../components/icons/AboutIcon.astro";

// Importación de las distintas secciones del portafolio
import Hero from "../components/sections/Hero.astro";
import Projects from "../components/sections/Projects.astro";
import About from "../components/sections/About.astro";
import Work from "../components/sections/Work.astro";
// import Footer from "../components/sections/Footer.astro";
---

<Layout title="Portafolio de Diego Pastén - Desarrollador web">
  <main>
    <!-- C06: Separación de código -->

    <!-- Sección de perfil -->
    <Hero />

    <!-- Sección de Experiencia Laboral -->
    <Work/>

    <!-- Sección de Proyectos -->
    <Projects />

    <!-- Sección sobre mi -->
    <About />

  </main>
</Layout>
