---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import Badge from "../components/Badge.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Proyect from "../components/Proyect.astro";
import Footer from "../components/Footer.astro";

//Importación de iconos (componets)
import ProyectIcon from "../components/icons/ProyectIcon.astro";
import AboutIcon from "../components/icons/AboutIcon.astro";
---

<Layout title="Portafolio de Diego Pastén - Desarrollador web">
  <main>

    <!-- Titulo -->
    <SectionContainer>
    
      <img
        src="/images/perfil.png"
        alt="Foto de perfil"
        class="perfil-con-difuminado"
      />
      <h1 class="text-white text-7xl font-bold flex flex-row gap-x-4 pb-4">
        Diego Pastén
        <a
          href="https://linkedin.com/in/diegopastenuribe"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>

      <span class="text-xl text-[#ffbed8]">Desarrollador WEB</span>
      <p class="text-2xl opacity-75">
        Ingeniero en Informática con experiencia en WEB Developer Lorem ipsum,
        dolor sit amet consectetur adipisicing elit. Ut accusantium soluta vitae
        corporis minus magni libero fugit expedita aperiam asperiores.
        Temporibus velit voluptate cum nemo quis dignissimos ipsum, consequuntur
        optio!
      </p>
    
    </SectionContainer>

    <!-- Sección de Proyectos -->
    <SectionContainer id="proyectos" class="pt-10">
      <h2 class="text-6xl font-bold mt-8 mb-3 flex gap-2"> <ProyectIcon class="size-16" />Proyectos </h2>
      <Proyect/>
     
    </SectionContainer>
    
    <!-- Sección sobre mi -->
    <SectionContainer id="sobre-mi" class="pt-10">
      <h2 class="text-6xl font-bold mt-8 mb-3 flex gap-2"><AboutIcon class="size-16"/> Sobre mí</h2>
      <p class="text-2xl opacity-75">
        Titulado como Ingerniero en Informática Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis vero doloremque recusandae, nemo beatae quos, totam iusto enim possimus in ipsam porro sapiente tempora odio perferendis dolore fugit modi laboriosam!
      </p>
    </SectionContainer>

    <!-- Sección de Contacto -->

    <!-- Sección Footer -->
     <SectionContainer id="footer">
      <Footer/>
     </SectionContainer>



  </main>
</Layout>
