<span
  class=
  "bg-green-100 text-green-800 text-xs font-medium 
  me-2 px-2.5 py-1 rounded-full dark:bg-green-900 
  dark:text-green-300
  hover:bg-green-800 hover:text-green-100
  transition-smooth
  ">
  <slot/>

  </span>
