<footer class="m-4 w-full lg:w-[1040px] mx-auto py-8" id="contacto">
  <ul
    class="flex flex-wrap justify-center gap-x-6 gap-y-6 max-w-5xl mx-auto text-gray-200"
  >
   <!-- Perfil de LinkedIn -->
    <li class="flex items-center gap-2">
      <img src="/icons/linkedin.svg" alt="LinkedIn" class="w-7 h-7" />
      <a
        href="https://www.linkedin.com/in/diegopastenuribe/"
        target="_blank"
        class="hover:text-emerald-300"
      >
        Diego Pásten Uribe
      </a>
    </li>

    <!-- Correo electronico personal -->
    <li class="flex items-center gap-2">
      <img src="/icons/gmail.svg" alt="Correo" class="w-6 h-6" />
      <a href="mailto:diegopasten78@gmail.com" class="hover:text-emerald-300">
        diegopasten78@gmail.com
      </a>
    </li>

    <!-- Perfil de GitHub -->
    <li class="flex items-center gap-2">
      <img src="/icons/github.svg" alt="Correo" class="w-6 h-6" />
      <a
        href="https://github.com/dgroes"
        target="_blank"
        class="hover:text-emerald-300"
      >
        dgroes
      </a>
    </li>
  </ul>
</footer>
