<footer class="m-4 w-full lg:w-[1040px] mx-auto py-8">
  <ul
    class="flex flex-col sm:flex-row justify-center gap-6 text-lg text-gray-200"
  >
    <li class="flex items-center gap-2">
      <img src="/icons/linkedin.svg" alt="LinkedIn" class="w-7 h-7" />
      <a
        href="https://www.linkedin.com/in/diegopastenuribe/"
        target="_blank"
        class="hover:text-emerald-300"
      >
        LinkedIn: Diego Pastén
      </a>
    </li>
    <li class="flex items-center gap-2">
      <img src="/icons/gmail.svg" alt="Correo" class="w-6 h-6" />
      <a href="mailto:diegopasten78@gmail.com" class="hover:text-emerald-300">
        diegopasten78@gmail.com
      </a>
    </li>
  </ul>
</footer>
