<footer
  class="m-4 w-full lg:w-[1040px] mx-auto py-30"
>
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-end"
  >
   
    <ul
      class="flex flex-wrap items-center mt-3 text-xl font-medium text-white dark:text-gray-400 sm:mt-0"
    >
      <li class="transition-smooth">
        <a href="#" class="hover:scale-110  me-4 md:me-6">Sobre Mí</a>
      </li>
      <li class="transition-smooth">
        <a href="#" class="">Contacto</a>
      </li>
    </ul>
  </div>
</footer>
