<header class="my-4 pt-4">

  <nav class="flex flex-wrap justify-center gap-x-6 gap-y-6 max-w-5xl mx-auto opacity-70">
    <a href="#top" class="transition-smooth">Inicio</a>
    <a href="#experiencia" class="transition-smooth">Experiencia</a>
    <a href="#proyectos" class="transition-smooth">Proyectos</a>
    <a href="#sobre-mi" class="transition-smooth">Sobre mi</a>
    <a href="#contacto" class="transition-smooth">Contacto</a>
  </nav>
 
</header>
